@model CreatePersonVM
@{
    ViewData["Title"] = "CreatePerson";
}

<br />
<h1 class="offset-2">CreatePerson</h1>
<hr />
<br />

<a class="btn btn-primary floatLeft" asp-action="Index" asp-controller="Person">Return</a>

<form class="offset-2 col-2" asp-action="CreatePerson" asp-controller="Person" method="post">
    
    <label asp-for="Person.Name"></label>
    <br />
    <input asp-for="Person.Name" />

    <hr />

    <label asp-for="Person.Age"></label>
    <br />
    <input asp-for="Person.Age" />

    <hr />

    <div id="Equality" class="row">
        <label class="col-3">Man</label>
        <label class="col-3">Woman</label>
        <label class="col-3">Llama</label>
    </div>
    <br />
    <div class="row">
        <input type="radio" asp-for="Person.Gender" value="Man" class="col-3" />
        <input type="radio" asp-for="Person.Gender" value="Woman" class="col-3" />
        <input type="radio" asp-for="Person.Gender" value="Llama" class="col-3" />
    </div>

    <hr />

    <label asp-for="Person.PhoneNumber"></label>
    <br />
    <input asp-for="Person.PhoneNumber" />

    <hr />

    @* THIS NEEDS TO BE DONE VIA AJAX. *@
    @*<label>Available Cities</label>
        <select name="City" id="listbox">
            <option value="@null">Select one</option>
            <option value="@null">None</option>
            @if (Model.CitiesInCountry.Count != 0 || Model.CitiesInCountry != null)
            {
                foreach (var item in Model.CitiesInCountry)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <br />
        <label>Countries</label>
        <select name="Country" id="listbox">
            <option value="@null">Select one</option>
            <option value="@null">None</option>
            @foreach (var item in Model.Countries)
            {
                <option value="@item.Id" selected onclick="">@item.Name</option>
            }
        </select>*@

    <div class="form-group">
        <label>Country</label>
        <select id="countryDropDownList" class="form-control">
            <option value="Select">Select one</option>
        </select>
    </div>
    <div class="form-group">
        <label>Cities</label>
        <select id="cityDropDownList" class="form-control">
            <option value="Select">Select one</option>
        </select>
    </div>

    <hr />

    <input class="btn btn-success" type="submit" value="Submit" />

</form>
