@model Person
@{
    ViewData["Title"] = "Details";
}

<br />
<h1 class="offset-3">Details of @Model.Name</h1>
<hr />
<br />

<table class="table-active offset-2 col-8 marginBottom60">
    <tr class="row main-tr">
        <th class="offset-1 col-2">Name</th>
        <th class="col-1">Age</th>
        <th class="offset-1 col-1">Gender</th>
        <th class="offset-1 col-2">Phonenumber</th>
        <th class="offset-1 col-2">City</th>

    </tr>
    <tr class="row main-tr">
        <td class="border-bottom border-dark col-11 AlignCenter"></td>
        <td class="offset-1 col-2">@Model.Name</td>
        <td class="col-1">@Model.Age</td>
        <td class="offset-1 col-1">@Model.Gender</td>
        <td class="offset-1 col-2">@Model.PhoneNumber</td>
        @if (Model.City != null)
        {
            <td class="offset-1 col-2">@Model.City.Name</td>
        }
        else
        {
            <td class="offset-1 col-2">Homeless</td>
        }
    </tr>
</table>

<tr>
    <td>
        <a class="btn btn-primary offset-2" asp-action="Index" asp-controller="Person">
            Return
        </a>
    </td>
</tr>