@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<br />
<h1 class="offset-2">Index</h1>
<hr />
<br />

<table class="table-active offset-2 col-8 marginBottom60">
    <tr class="row main-tr">
        <th class="offset-1 col-2">Name</th>
        <th class=" col-1">Age</th>
        <th class=" col-1">Gender</th>
        <th class=" col-2">Phonenumber</th>
        <th class="col-1">City</th>
        <th class="offset-1 col-3">Options</th>
    </tr>
    @if (Model.Count != 0)
    {

        @foreach (var item in Model)
        {
            <tr class="row main-tr">
                <td class="border-bottom border-dark col-11 AlignCenter"></td>
                <td class="offset-1 col-2">@item.Name</td>
                <td class=" col-1">@item.Age</td>
                <td class=" col-1">@item.Gender</td>
                <td class=" col-2">@item.PhoneNumber</td>
                @if (@item.City != null)
                {

                    <td class="col-1">@item.City.Name</td>
                }
                else
                {
                    <td class="col-1">Homeless</td>
                }
                <td class="offset-1 col-3">
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Person" asp-route-id="@item.Id">
                        Edit
                    </a>
                    <a class="btn btn-primary" asp-action="Details" asp-controller="Person" asp-route-id="@item.Id">
                        Details
                    </a>
                    @if (User.IsInRole("Administrator"))
                    { // Doing it this way because I'm unsure how else to do it.
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Person" asp-route-id="@item.Id">
                            Remove
                        </a>
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td><h5 class="col-12">I currently don't hold any people. please add some :(</h5></td>
        </tr>
    }
</table>

<tr>
    <td>
        <a class="btn btn-success offset-1 floatLeft" @*onclick="CreatePersonDropDownLists()"*@ asp-action="CreatePerson" asp-controller="Person">
            Create a new person
        </a>
        @*<button asp-action="CreatePerson" asp-controller="Person" class="btn btn-success offset-1 floatLeft" onclick="CreatePersonDropDownLists()">Create a new Person</button>*@
    </td>
</tr>